# Python / Backend
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.pytest_cache/

# Node / Frontend
node_modules/
.expo/
dist/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
